body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #480ca8;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    width: 100%;
    max-width: 400px; /* Limitar a largura máxima do formulário */
}

.formLogin h1 {
    padding: 0;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: border-color 0.2s;
    outline: none;
    width: 100%; /* Para garantir que o input ocupe 100% da largura */
}

.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: color 0.2s;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    margin: 0 !important;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    .formLogin {
        padding: 20px; /* Reduzir padding em telas menores */
    }

    .formLogin h1 {
        font-size: 1.8em; /* Reduzir o tamanho do título */
    }

    .formLogin input {
        font-size: 12px; /* Ajustar o tamanho da fonte nos inputs */
    }

    .btn {
        font-size: 12px; /* Ajustar o tamanho do botão */
    }
}
